<h2>Lista de Hoteles</h2>
  <div class="form-group">
    <label for="inputBuscar">Buscar Hotel</label>
    <input type="text" class="form-control" id="inputBuscar" ng-model="nombre">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Nombre
          <!-- <a href="" ng-click="orderBy = 'nombre';reverse=true">Nombre</a> -->
        </th>
        <th>Provincia</th>
        <th>Teléfono</th>
        <th>Correo Eléctronico</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hotel in vm.listaHoteles | filter:nombre | orderBy:'nombre'">
        <td>{{hotel.nombre}}</td>
        <td>{{hotel.provincia}}</td>
        <td>{{hotel.telServicioCliente}}</td>
        <td>{{hotel.correoElectronico}}</td>
        <td>
          <li class="nav-item dropdown btnAccion" style="list-style:none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" ng-click="vm.verPerfil(hotel)">Ver Perfil</a>
              <a class="dropdown-item" ng-click="vm.modificar(hotel)">Modificar Hotel</a>
              <a class="dropdown-item" ng-click="vm.desactivar(hotel)">Desactivar Hotel</a>
            </div>
          </li>
        </td>
      </tr>
    </tbody>
  </table>