<div class="sidenav">
    <a ui-sref="main.verPerfil"><i class="fas fa-user"></i> Mi perfil</a>
    <button class="dropdown-btn"><i class="fas fa-clipboard-check"></i> Evaluaciones <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a ui-sref="main.registroReviews">Registrar Evaluaciones</a>
      <a ui-sref="main.listarReviews">Visualizar Evaluaciones</a>
    </div>
    <button class="dropdown-btn" ng-hide="vms.userInfo == 'Cliente'"><i class="fas fa-users"></i> Clientes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a ui-sref="main.registroUsuarios">Registrar Clientes</a>
      <a ui-sref="main.listarUsuarios">Listar Clientes</a>
    </div>
    <button class="dropdown-btn" ng-hide="vms.userInfo == 'Cliente'"><i class="fas fa-building"></i> Hoteles
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a ui-sref="main.registroHoteles">Registrar Hoteles</a>
      <a ui-sref="main.listarHoteles">Mantenimiento Hoteles</a>
    </div>
  </div> 