<h2>Lista de Evaluaciones</h2>
  <div class="form-group">
    <label for="inputBuscar">Buscar Review</label>
    <input type="text" class="form-control" id="inputBuscar" ng-model="hotel">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>
          Hotel
          <!-- <a href="" ng-click="orderBy = 'nombre';reverse=true">Nombre</a> -->
        </th>
        <th>Comida</th>
        <th>Calidad Servicio</th>
        <th>Habitaciones</th>
        <th>Infraestructura</th>
        <th>Limpieza</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="review in vm.listaCompletaReviews | filter:hotel | orderBy:'hotel'">
        <td>{{review.idCliente}}</td>
        <td>{{review.hotel}}</td>
        <td>{{review.comida}}</td>
        <td>{{review.calidadservicio}}</td>
        <td>{{review.habitaciones}}</td>
        <td>{{review.infraestructura}}</td>
        <td>{{review.limpieza}}</td>
      </tr>
    </tbody>
  </table>