<section>

  <h2 class="text-center">Evaluaciones de {{vm.usuarioActivo}}</h2>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Hotel</th>
          <th>Comida</th>
          <th>Calidad de Servicio</th>
          <th>Habitaciones</th>
          <th>Infraestructura</th>
          <th>Limpieza</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="review in vm.listaReviews">
          <td>{{review.getHotel()}}</td>
          <td>{{review.getComida()}}</td>
          <td>{{review.getCalidadServicio()}}</td>
          <td>{{review.getHabitaciones()}}</td>
          <td>{{review.getInfraestructura()}}</td>
          <td>{{review.getLimpieza()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>