<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="../../sources/img/favicon.ico">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Coffee</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../../sources/styles/css/linearicons.css">
    <link rel="stylesheet" href="../../sources/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../sources/styles/css/bootstrap.css">
    <link rel="stylesheet" href="../../sources/styles/css/magnific-popup.css">
    <link rel="stylesheet" href="../../sources/styles/css/nice-select.css">					
    <link rel="stylesheet" href="../../sources/styles/css/animate.min.css">
    <link rel="stylesheet" href="../../sources/styles/css/owl.carousel.css">
    <link rel="stylesheet" href="../../sources/styles/css/main.css">
  </head>
  <body>
  <header id="header" id="home">		  	
      <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="index.html"><img src="../../sources/img/logo.png" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="#home">Inicio</a></li>
              <li><a href="#hoteldelmes">Hotel del Mes</a></li>
              <li><a href="#recomendaciones">Recomendaciones</a></li>
              <li><a href="#socios">Nuestros Socios</a></li>
              <li><a href="#hoteles">Hoteles</a></li>
              <li><a href="#!/login">Iniciar Sesión</a></li>
              <!-- <li class="menu-has-children"><a href="">Pages</a>
                <ul>
                  <li><a href="generic.html">Generic</a></li>
                  <li><a href="elements.html">Elements</a></li>
                </ul>
              </li> -->
            </ul>
          </nav><!-- #nav-menu-container -->		    		
        </div>
      </div>
    </header><!-- #header -->
    
    <body>
      <!-- start banner Area -->
      <section class="banner-area" id="home">
        <div class="container">
          <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-7">
              <!-- //<h6 class="text-white text-uppercase"></h6> -->
              <h1>
                Evalúe <br>
                su estadía!				
              </h1>
              <a href="#!/registerUser" class="primary-btn text-uppercase">Regístrese</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->	
    
      <!-- Start video-sec Area -->
      <section class="video-sec-area pb-100 pt-40" id="hoteldelmes">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
              <div class="overlay overlay-bg"></div>
              <a class="play-btn" href="https://youtu.be/BaWeKzqFLVg"><img class="img-fluid" src="../../sources/img/play-icon.png" alt=""></a>
            </div>						
            <div class="col-lg-6 video-left">
              <h6>Todo lo que usted necesita saber antes de viajar.</h6>
              <h1>Conozca el hotel <br>
              mejor evaluado, Kúra!</h1>
              <p><span>¿Que dicen nuestros clientes sobre Kúra?</span></p>
              <p>
                Un lugar muy espectacular, con vista al Parque Nacional Marino Ballena, un servicio exquisito y habitaciones de lujo con vistas impresionantes y mucha privacidad. Lo recomiendo sin duda para viajeros en busca de lujo, relajación,intimidad y vistas espectaculares en medio de la naturaleza.
              </p>
              <img class="img-fluid" src="../../sources/img/signature.png" alt="">
            </div>
          </div>
        </div>	
      </section>
      <!-- End video-sec Area -->
      
      <!-- Start menu Area -->
      <section class="menu-area section-gap" id="recomendaciones">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">Recomendaciones</h1>
                <p>Estos son los Hoteles más evaluados de Costa Rica en Rank-Inn.</p>
              </div>
            </div>
          </div>						
          <div class="row">
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Tulemar Bungalows &amp; Villas</h4>
                  <p class="price float-right">
                    $195
                  </p>
                </div>
                <p>
                  Estuvimos hospedados en los apartamentos Bamboo, perfectos par una pareja, con un vista espectacular. La playa de Tulemar es preciosa y la comida del restaurante deliciosa. Brian nos hizo sentir come en casa y nos chineo duarnte toda la estadia. Super recomendado.
                </p>								
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>El Remanso Lodge</h4>
                  <p class="price float-right">
                    $415
                  </p>
                </div>
                <p>
                  Estuve con mi mejor amigo celebrando nuestra graduación y la verdad es una experiencia unica el poder apreciar la naturaleza y el bosque lluvioso de Costa Rica estando inmerso en el. La calidad de servicio al cliente del personal es excelente hacen todo lo posible para que la estadía sea innolvidable.
                </p>													
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Bosque del Cabo Rainforest Lodge</h4>
                  <p class="price float-right">
                    $225
                  </p>
                </div>
                <p>
                  Muchas gracias a todo el staff de Bosque del Cabo Rainforest Lodge por la magnífica atención que recibimos Mariana y yo durante los días de vacaciones que tuvimos. Kim y Phill son excelentes anfitriones nos hicieron sentirnos en casa y nos llevaron de tour a los más bellos rincones del proyecto.
                </p>								
              </div>
            </div>	
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Drake Bay Getaway Resort</h4>
                  <p class="price float-right">
                    $560
                  </p>
                </div>
                <p>
                  Precioso hotel boutique con una vista maravillosa , buena comida y excelente atención personalizada por parte de sus propietarios Yens &amp; Patrick . Bahía Drake es de los lugares más hermoso de CR y este lugar es el mejor para visitarlo . 100000% recomendado !!
                </p>								
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Gaia Hotel &amp; Reserve</h4>
                  <p class="price float-right">
                    $199
                  </p>
                </div>
                <p>
                  Estuve algunos días en el hotel GAIA, Es un maravilloso lugar, con una vista espectacular y un servicio de primera, las habitaciones son preciosas y súper cómodas. La comida es exquisita y la atención excelente!!!
                </p>								
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Nayara Springs</h4>
                  <p class="price float-right">
                    $750
                  </p>
                </div>
                <p>
                  Cuando estés allí sentiras como si estuvieras en el paraíso, nos sentíamos genial la atención exelente, alimentación, habitaciones todo impecable estuvimos rodeados de naturaleza, estas allí y setiras el aire puro no tengo palabras para describir lo bello de este lugar.
                </p>			
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Rio Perdido</h4>
                  <p class="price float-right">
                    $265
                  </p>
                </div>
                <p>
                  La primera impresión es como un oasis en medio de la naturaleza, ya que encuentras la comida, el hospedaje, la gente y el agua caliente!!! Personalmente siempre disfruto las aguas termales, las piscinas son el paraíso en medio de la naturaleza. Un hermoso y tranquilo lugar, muy cerca de la energía de la naturaleza y la atención es excelente!
                </p>								
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Peace Lodge</h4>
                  <p class="price float-right">
                    $450
                  </p>
                </div>
                <p>
                  Una de las atracciones que sin duda debes de realizar es visitar Peace Lodge, cuenta con una reserva natural de mariposas, ranas, víboras, felinos, orquídeas y sobre todo lo más hermoso son sus cataratas, simplemente increíbles. El personal del hotel es altamente calificado en sus labores y en el servicio a los huéspedes.
                </p>								
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-menu">
                <div class="title-div justify-content-between d-flex">
                  <h4>Oxygen Jungle Villas</h4>
                  <p class="price float-right">
                    $379
                  </p>
                </div>
                <p>
                  Me encanto Oxygen Villas! Las habitaciones son una experiencia unica con sus paredes de vidrio puedes sentir la montana, escuchar los ruidos de los animales y ver el amanecer con las cortinas corridas sin estar en contacto con otros turistas. La zona de la piscina con la vista al mar es una maravilla, la comida sencilla pero muy buena y la atencion del personal de lujo.
                </p>								
              </div>
            </div>															
          </div>
        </div>	
      </section>
      <!-- End menu Area -->
      
      <!-- Start gallery Area -->
      <section class="gallery-area section-gap" id="gallery">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">Gran variedad de Hoteles en Costa Rica</h1>
                <p>¡Disfrute del país más feliz del mundo!</p>
              </div>
            </div>
          </div>						
          <div class="row">
            <div class="col-lg-4">
              <a href="../../sources/img/g1-1.jpg" class="img-pop-home">
                <img class="img-fluid" src="../../sources/img/g1.jpg" alt="">
              </a>	
              <a href="../../sources/img/g2-2.jpg" class="img-pop-home">
                <img class="img-fluid" src="../../sources/img/g2.jpg" alt="">
              </a>	
            </div>
            <div class="col-lg-8">
              <a href="../../sources/img/g3-3.jpg" class="img-pop-home">
                <img class="img-fluid" src="../../sources/img/g3.jpg" alt="">
              </a>	
              <div class="row">
                <div class="col-lg-6">
                  <a href="../../sources/img/g4-4.jpg" class="img-pop-home">
                    <img class="img-fluid" src="../../sources/img/g4.jpg" alt="">
                  </a>	
                </div>
                <div class="col-lg-6">
                  <a href="../../sources/img/g5-5.jpg" class="img-pop-home">
                    <img class="img-fluid" src="../../sources/img/g5.jpg" alt="">
                  </a>	
                </div>
              </div>
            </div>
          </div>
        </div>	
      </section>
      <!-- End gallery Area -->
      
      <!-- Start review Area -->
      <section class="review-area section-gap" id="socios">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">Nuestros Socios</h1>
                <p>Gracias a nuestros servicios de evaluación, las grandes empresas de reservaciones han incrementado sus ventas.</p>
              </div>
            </div>
          </div>						
          <div class="row">
            <div class="col-lg-6 col-md-6 single-review">
              <img src="../../sources/img/r1.png" alt="">
              <div class="title d-flex flex-row">
                <h4>Travel Book</h4>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>								
                </div>
              </div>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
            </div>	
            <div class="col-lg-6 col-md-6 single-review">
              <img src="../../sources/img/r2.png" alt="">
              <div class="title d-flex flex-row">
                <h4>Book Me</h4>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>								
                </div>
              </div>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
            </div>	
          </div>
          <div class="row counter-row">
            <div class="col-lg-3 col-md-6 single-counter">
              <h1 class="counter">2536</h1>
              <p>Clientes Satisfechos</p>
            </div>
            <div class="col-lg-3 col-md-6 single-counter">
              <h1 class="counter">7562</h1>
              <p>Hoteles Registrados</p>
            </div>
            <div class="col-lg-3 col-md-6 single-counter">
              <h1 class="counter">2013</h1>
              <p>Comentarios</p>
            </div>
            <div class="col-lg-3 col-md-6 single-counter">
              <h1 class="counter">10536</h1>
              <p>Reservaciones</p>
            </div>																		
          </div>
        </div>	
      </section>
      <!-- End review Area -->
      
      <!-- Start blog Area -->
      <section class="blog-area section-gap" id="hoteles">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">Desde la playa, hasta la montaña!</h1>
                <p>Ofrecemos una gran variedad de hoteles disponibles a evaluar.</p>
              </div>
            </div>
          </div>						
          <div class="row">
            <div class="col-lg-6 col-md-6 single-blog">
              <img class="img-fluid" src="../../sources/img/b1.jpg" alt="">
              <ul class="post-tags">
                <li><a href="#">Lista de Hoteles</a></li>
              </ul>
              <a href="#"><h4>Conozca los Hoteles de Playa de Costa Rica.</h4></a>
              <p>
                Gracias a la ayuda de nuestros clientes, usted puede conocer todo sobre la información general del Hotel.
              </p>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
              <img class="img-fluid" src="../../sources/img/b2.jpg" alt="">
              <ul class="post-tags">
                <li><a href="#">Lista de Hoteles</a></li>
              </ul>
              <a href="#"><h4>Conozca los Hoteles de Montaña de Costa Rica.</h4></a>
              <p>
                Lea detalladamente lo que los huespedes opinan acerca de nuestra lista de Hoteles.
              </p>
            </div>						
          </div>
        </div>	
      </section>
      <!-- End blog Area -->
      
      <!-- start footer Area -->		
      <footer class="footer-area section-gap">
      </footer>
    <!-- End footer Area -->	

    <script src="../../sources/styles/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../sources/styles/js/vendor/bootstrap.min.js"></script>			
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
      <script src="../../sources/styles/js/easing.min.js"></script>			
    <script src="../../sources/styles/js/hoverIntent.js"></script>
    <script src="../../sources/styles/js/superfish.min.js"></script>	
    <script src="../../sources/styles/js/jquery.ajaxchimp.min.js"></script>
    <script src="../../sources/styles/js/jquery.magnific-popup.min.js"></script>	
    <script src="../../sources/styles/js/owl.carousel.min.js"></script>			
    <script src="../../sources/styles/js/jquery.sticky.js"></script>
    <script src="../../sources/styles/js/jquery.nice-select.min.js"></script>			
    <script src="../../sources/styles/js/parallax.min.js"></script>	
    <script src="../../sources/styles/js/waypoints.min.js"></script>
    <script src="../../sources/styles/js/jquery.counterup.min.js"></script>					
    <script src="../../sources/styles/js/mail-script.js"></script>	
    <script src="../../sources/styles/js/main.js"></script>	
  </body>
</html>